
/* Mobile */
@media only screen and (max-width: 600px) {

   .eventdiv {
        display: flex;
        flex-direction: column;
        background-color: teal;
        border-radius: 25px;
        box-shadow: 5px 5px 5px grey;
        margin: 3vh;
   }
    
}



/* Desktop */
@media only screen and (min-width: 601px) {

    .eventdiv {
        display: flex;
        flex-direction: row;
    }

}

